# Azure tenant ID. Find this in the Overview page of the application you created in App Registrations in Azure Portal. It is shown as Directory (tenant) ID.
AZURE_TENANT_ID=

# Azure client ID. Find this in the Overview page of the application you created in App Registrations in Azure Portal. It is shown as Application (client) ID.
AZURE_CLIENT_ID=

# Azure client secret. Find this in the Certificates & Secrets page of the application you created in App Registrations in Azure Portal. It is shown as Client secrets.
AZURE_CLIENT_SECRET=

# Multiple billing account IDs can be separated by commas. Go to Cost Management + Billing, select one of the billing accounts, click on "Properties" on the sidebar under "Settings", and copy the Billing Account ID.
AZURE_BILLING_ACCOUNT_ID=

# Name of the company.
NEXT_PUBLIC_COMPANY_NAME=

# Name of the application.
NEXT_PUBLIC_APP_NAME=

# Password for the SMTP server. If using Gmail, use the app password.
SMTP_PASSWORD=

# Username for the SMTP server. If using Gmail, use the email address.
SMTP_USERNAME=

# Port for the SMTP server. Usually 465 for SSL or 587 for TLS.
SMTP_PORT=

# Host for the SMTP server. Usually smtp.gmail.com for Gmail.
SMTP_HOST=

# JWT secret. Must be at least 32 characters. This is used to sign the JWT tokens. Keep it secret!
JWT_SECRET=

# Allowed email addresses. Comma-separated list of email addresses that are allowed to login.
ALLOWED_EMAIL_ADDRESSES=

# Whether to send emails. Set to 1 to NOT send emails. Useful for development to avoid sending emails to actual users.
NEXT_PUBLIC_NO_EMAIL_SEND=1

# Key that is used to authorized access to /api/health. Create a random long key for security.
API_HEALTH_KEY=